@font-face {
  font-family: MineFont;
  src: url("font/Minecraft.ttf");
}
body {
  background-image: url("../img/stock-img.jpg");
  background-size: cover;
  background-position: center;
}

.details > .lore > span {
  display: block;
  font-family: MineFont, sans-serif;
  font-size: 2rem;
  text-align: left;
}

.bg-inventory {
  color: #404040 !important;
  background-color: #c6c6c6;
  border-radius: 5px;
  border: 4px solid;
  border-color: #fff #555 #555 #fff;
  box-shadow: 0 0 0 2pt black;
}

.minefont {
  font-family: MineFont, sans-serif;
}

.listing-info {
  font-family: MineFont, sans-serif;
  font-size: 2rem;
}
.listing-info > span {
  display: block;
  text-align: left;
}

.image-skull {
  background-size: 1024px !important;
  background-position: -128px -128px;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}

.mc-font {
  font-family: MineFont, sans-serif;
}

/* .pixel-image, .invslot-item-image, .sprite {
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
} */
.durability-bar {
  position: relative;
  display: inline-block;
  left: 12px;
  top: 104px;
  width: 104px;
  height: 16px;
  background-color: black;
  z-index: 4;
}

.durability {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: lime;
  z-index: 4;
}

.amount {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
  color: white;
  text-shadow: 0.125em 0.125em 0 #3F3F3F;
  font-family: MineFont, sans-serif;
  text-align: right;
  vertical-align: text-bottom;
  top: 72px;
  left: 8px;
  pointer-events: none;
}

/* .durability::before {
    background-color: rgb(0, 255, 0);
    content: " ";
    z-index: 3;
    width: 26px;
    height: 2px;
    position: absolute;
} */
.inv-sprite {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-size: 128px;
  width: 128px;
  height: 128px;
  vertical-align: middle;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* background-image: url(https://c-4tvylwolbz88x24k8b2w0s1dwhf0rx2ejsvbkmyvuax2eula.g00.gamepedia.com/g00/3_c-4tpuljyhma.nhtlwlkph.jvt_/c-4TVYLWOLBZ88x24oaawzx3ax2fx2fk8b2w0s1dwhf0r.jsvbkmyvua.ulax2ftpuljyhma_nhtlwlkphx2f1x2f11x2fPucZwypal.wunx3fclyzpvux3d8218500175974x26p87j.thyrx3duvaOATS_$/$/$/$/$); */
  /* background-position: -320px -1024px; */
}

.invslot-item, .invslot-item > a:first-child {
  position: relative;
  display: block;
  margin: -8px;
  padding: 8px;
  width: 136px;
  height: 136px;
}

.inventory, .listing {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #c6c6c6;
  border-radius: 5px;
  border: 4px solid;
  border-color: #fff #555 #555 #fff;
  box-shadow: 0 0 0 2pt black;
}

.inventory > .title {
  font-size: 3.5rem;
  font-family: MineFont, sans-serif;
  margin: 10px;
}

.listing > .title {
  font-size: 3rem;
  font-family: MineFont, sans-serif;
  margin: 10px;
}

.invslot {
  position: relative;
  display: inline-block;
  background: #8B8B8B no-repeat center center/128px 128px;
  border: 8px solid;
  border-color: #373737 #FFF #FFF #373737;
  width: 144px;
  height: 144px;
  font-size: 64px;
  line-height: 1;
  text-align: left;
  vertical-align: bottom;
}
.invslot::before, .invslot::after {
  content: "";
  position: absolute;
  background-color: #8B8B8B;
  height: 8px;
  width: 8px;
  pointer-events: none;
}
.invslot::before {
  bottom: -8px;
  left: -8px;
}
.invslot::after {
  top: -8px;
  right: -8px;
}

@media (min-width: 992px) {
  .image-skull {
    background-size: 384px !important;
    background-position: -48px -48px;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
  }

  .mc-font {
    font-family: MineFont, sans-serif;
  }

  /* .pixel-image, .invslot-item-image, .sprite {
      image-rendering: optimizeSpeed;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
  } */
  .durability-bar {
    position: relative;
    display: inline-block;
    left: 4.5px;
    top: 39px;
    width: 39px;
    height: 6px;
    background-color: black;
    z-index: 4;
  }

  .durability {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: lime;
    z-index: 4;
  }

  .amount {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    color: white;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
    font-family: MineFont, sans-serif;
    text-align: right;
    vertical-align: text-bottom;
    top: 27px;
    left: 3px;
    pointer-events: none;
  }

  /* .durability::before {
      background-color: rgb(0, 255, 0);
      content: " ";
      z-index: 3;
      width: 26px;
      height: 2px;
      position: absolute;
  } */
  .inv-sprite {
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-size: 48px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* background-image: url(https://c-4tvylwolbz88x24k8b2w0s1dwhf0rx2ejsvbkmyvuax2eula.g00.gamepedia.com/g00/3_c-4tpuljyhma.nhtlwlkph.jvt_/c-4TVYLWOLBZ88x24oaawzx3ax2fx2fk8b2w0s1dwhf0r.jsvbkmyvua.ulax2ftpuljyhma_nhtlwlkphx2f1x2f11x2fPucZwypal.wunx3fclyzpvux3d8218500175974x26p87j.thyrx3duvaOATS_$/$/$/$/$); */
    /* background-position: -320px -1024px; */
  }

  .invslot-item, .invslot-item > a:first-child {
    position: relative;
    display: block;
    margin: -3px;
    padding: 3px;
    width: 51px;
    height: 51px;
  }

  .inventory, .listing {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #c6c6c6;
    border-radius: 5px;
    border: 4px solid;
    border-color: #fff #555 #555 #fff;
    box-shadow: 0 0 0 2pt black;
  }

  .inventory > .title {
    font-size: 2rem;
    font-family: MineFont, sans-serif;
    margin: 10px;
  }

  .listing > .title {
    font-size: 3rem;
    font-family: MineFont, sans-serif;
    margin: 10px;
  }

  .invslot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center/48px 48px;
    border: 3px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 54px;
    height: 54px;
    font-size: 24px;
    line-height: 1;
    text-align: left;
    vertical-align: bottom;
  }
  .invslot::before, .invslot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 3px;
    width: 3px;
    pointer-events: none;
  }
  .invslot::before {
    bottom: -3px;
    left: -3px;
  }
  .invslot::after {
    top: -3px;
    right: -3px;
  }

  .listing {
    /* .pixel-image, .invslot-item-image, .sprite {
        image-rendering: optimizeSpeed;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
    } */
    /* .durability::before {
        background-color: rgb(0, 255, 0);
        content: " ";
        z-index: 3;
        width: 26px;
        height: 2px;
        position: absolute;
    } */
  }
  .listing .image-skull {
    background-size: 1024px !important;
    background-position: -128px -128px;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
  }
  .listing .mc-font {
    font-family: MineFont, sans-serif;
  }
  .listing .durability-bar {
    position: relative;
    display: inline-block;
    left: 12px;
    top: 104px;
    width: 104px;
    height: 16px;
    background-color: black;
    z-index: 4;
  }
  .listing .durability {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: lime;
    z-index: 4;
  }
  .listing .amount {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    color: white;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
    font-family: MineFont, sans-serif;
    text-align: right;
    vertical-align: text-bottom;
    top: 72px;
    left: 8px;
    pointer-events: none;
  }
  .listing .inv-sprite {
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-size: 128px;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* background-image: url(https://c-4tvylwolbz88x24k8b2w0s1dwhf0rx2ejsvbkmyvuax2eula.g00.gamepedia.com/g00/3_c-4tpuljyhma.nhtlwlkph.jvt_/c-4TVYLWOLBZ88x24oaawzx3ax2fx2fk8b2w0s1dwhf0r.jsvbkmyvua.ulax2ftpuljyhma_nhtlwlkphx2f1x2f11x2fPucZwypal.wunx3fclyzpvux3d8218500175974x26p87j.thyrx3duvaOATS_$/$/$/$/$); */
    /* background-position: -320px -1024px; */
  }
  .listing .invslot-item, .listing .invslot-item > a:first-child {
    position: relative;
    display: block;
    margin: -8px;
    padding: 8px;
    width: 136px;
    height: 136px;
  }
  .listing .inventory, .listing .listing {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #c6c6c6;
    border-radius: 5px;
    border: 4px solid;
    border-color: #fff #555 #555 #fff;
    box-shadow: 0 0 0 2pt black;
  }
  .listing .inventory > .title {
    font-size: 3.5rem;
    font-family: MineFont, sans-serif;
    margin: 10px;
  }
  .listing .listing > .title {
    font-size: 3rem;
    font-family: MineFont, sans-serif;
    margin: 10px;
  }
  .listing .invslot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center/128px 128px;
    border: 8px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 144px;
    height: 144px;
    font-size: 64px;
    line-height: 1;
    text-align: left;
    vertical-align: bottom;
  }
  .listing .invslot::before, .listing .invslot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 8px;
    width: 8px;
    pointer-events: none;
  }
  .listing .invslot::before {
    bottom: -8px;
    left: -8px;
  }
  .listing .invslot::after {
    top: -8px;
    right: -8px;
  }
}
