@font-face {
    font-family: MineFont;
    src: url("font/Minecraft.ttf");
}

.item-image {
    background: url("../img/item-background.png");
    background-size: cover;
    padding: 10px;
}

#minetip-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    padding: 0.375em;
    font-family: MineFont,sans-serif;
    font-size: 16px;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999
}

.white {
    color: #FFF;
    text-shadow: 0.125em 0.125em 0 #3F3F3F;
}

.dark-purple {
    color: #AA00AA;
    text-shadow: 0.125em 0.125em 0 #2A002A;
}

.italic {
    font-style: italic;
}

#minetip-tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94)
}

#minetip-tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1
}